{% extends 'base/base.html' %}

{% block content %}

    <form action="">
        <h2>Sign in </h2>
        <div class="inputbox">
            <input type="text" required>
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputbox">
            <input type="password" required>
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forget password</a>
            <a href="#">Sign up </a>
        </div>
        <input type="submit" value="Login">
    </form>

{% endblock content %}
