{% extends 'app/base.html' %}
{% block main-content %}
<form method="post">
    {% csrf_token %}
    <div >
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Old password</label>
        {{ form.old_password }}        
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">New password</label>
        {{form.new_password1}}        
    </div>
    
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Confirm New password</label>
        {{form.new_password2}}        
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
{% if messages %}      
              
{% for message in messages  %}
    <div class="alert alert-danger d-flex align-items-center  mt-3" role="alert">      
      <button type="button" class="btn-close mr-5" data-bs-dismiss="alert" aria-label="Close"></button>    
      <p style="padding-left: 30px; text-align: center; "> {{message}}</p>
    </div>
{% endfor %}
{% endif %}
</form>


    
{% endblock main-content %}