{% extends 'main.html' %}

{% block content %}
<div class="box">
    <form action="" method="POST">
        {% csrf_token %}
        <h2>Sign in </h2>
        <div class="inputbox">
            <input type="text" required name='admin'> 
            <span>Admin</span>
            <i></i>
        </div>
        <div class="inputbox">
            <input type="password" required name='password'>
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forget password</a>
        </div>
        <input type="submit" value="Login">
    </form>
</div>

{% endblock content %}
